<div id="content">
</div>

<script type="application/json" id="current_user">
  <%= (current_user.id).to_json.html_safe %>
</script>

<script type="application/json" id="all_users">
  <%= User.all.to_json.html_safe %>
</script>