/*
 * This is a manifest file that'll be compiled into application.css,
 * which will include all the files listed below.
 *
 * Any CSS and SCSS file within this directory,
 * lib/assets/stylesheets, vendor/assets/stylesheets, or
 * vendor/assets/stylesheets of plugins, if any, can be referenced
 * here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll
 * appear at the top of the compiled file, but it's generally better
 * to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

div.photo-tag {
  width: 100px;
  height: 100px;
  border: solid red 5px;
  float: left;
}

ul.tag-options {
  float: left;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

ul.tag-options li {
  border: solid 5px;
  height: 20px;
  width: 200px;
}

div.photo-tag {
  width: 100px;
  height: 100px;
  border: solid red 5px;
  float: left;
}


