<form id="photoForm">

  <label id="photo_title">Title
    <input type= "text" name="photo[title]" id="photo_title">
  </label>

  <label id="photo_url">URL
    <input type= "text" name="photo[url]" id="photo_url">
  </label>

  <input type="submit" value="Submit" id="photoSubmit">

</form>