<!DOCTYPE html>
<html>
<head>
  <title>PhotoTagger</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if !current_user.nil? %>

    <p>Logged in as: <%= current_user.username %></p>
    <p><%= button_to "Logout", session_url, :method => :delete %></p>

<% end %>

<%= yield %>

</body>
</html>
